{% extends "base.html" %}
{% block start %}
<div class="container mt-5">
<form  class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <h1>Add Receipe</h1>
        <hr />
        <div class="form-group">
          <label for="exampleInputEmail1">Receipe Name</label>
          <input name = "recipe_name" required type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter receipe name">
          </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Receipe Description</label>
         <textarea name="recipe_description" required class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label class="form-check-label" for="exampleCheck1">Receipe Image</label>
   
             <input name="recipe_image" type="file" class="form-control" >
        </div>
        
        <button type="submit" class="btn btn-success m-2">Add Receipe</button>



</form>

<div class="container p-3">
  <div class="col-3"><a href="{% url 'recipe' %}">
      <button type="button" class="btn btn-primary">Add Recipe</button>
    </a>
    </div>
  <div class="col-12">
      <hr />
  
<table class="table">
<thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Recipe Name</th>
    <th scope="col">Recipe Description</th>
    <th scope="col">Recipe Image</th>
  </tr>
</thead>
<tbody>
  
  {% for data in recipe %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{ data.recipe_name }}</td>
    <td>{{ data.recipe_description }}</td>
    <td>{{ data.recipe_image }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>
</div>

</div>

{% endblock %}