<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <title>Django Tutorial</title>
</head>
<body>
    <h1>This is Django Server</h1>
    <!-- {{peoples}} -->
    <div class="container">
        <table class="table">
           <thead>
             
        <tr>
          <th>Sr.No</th>
          <th>Name</th>
          <th>Age</th>
          <th>Can Vote</th>
        </tr>
           </thead>
        {% for people in peoples %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{people.name}}</td>
          <td>{{people.age}}</td>
          <td {% if people.age >= 18 %}
            style="background-color:green" 
            {% else %}
            style="background-color:red" 
            {% endif %}
            >
            {% if people.age >= 18 %}
            👍
            {% else %}
            👎
            {% endif %}
          </td>
        </tr>
        {%endfor%}
       
      </table>
      
 </body>
</html>