{% extends "base.html" %}
{% block start %}

    <h1>This is Django Server</h1>

    <!-- {{peoples}} -->
    <div class="container">
        <table class="table">
           <thead>
             
        <tr>
          <th>Sr.No</th>
          <th>Name</th>
          <th>Age</th>
          <th>Can Vote</th>
        </tr>
           </thead>
        {% for people in peoples %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{people.name}}</td>
          <td>{{people.age}}</td>
          <td {% if people.age >= 18 %}
            style="background-color:green" 
            {% else %}
            style="background-color:red" 
            {% endif %}
            >
            {% if people.age >= 18 %}
            👍
            {% else %}
            👎
            {% endif %}
          </td>
        </tr>
        {%endfor%}
       
      </table>

        <div class="col-2">
            |
             <a href="{% url 'AboutUs' %}">About</a>
            |

                   <a href="{% url 'contactUs' %}">Contact</a>|
                   <a href="{% url 'receipe' %}">Receipe</a>|
        </div>
    </div>
{% endblock %}